@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.active {
    color: #3F90FC;
}

input[type="radio"]:checked+label .click_option {
    border: 2px solid #888888
}

input[type="radio"]:checked+label .selecting {
    border: 2px solid blue;
    transform: scale(1.02);
    color: blue
}

input[type="radio"]:checked+label {
    border: 2px solid blue;
    transform: scale(1.02);
    color: blue
}